* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}